{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "quotes": "off",
    "semi": [2, "never"],
    "comma-dangle": [2, "always-multiline"],
    "space-infix-ops": 0,
    "max-len": [2, 120, 2],
    "react/jsx-no-bind": [1, {
      "allowArrowFunctions": true
    }],
    "object-curly-spacing": "off",
    "no-class-assign": "off",
    "operator-linebreak": "off",
    "no-octal-escape": "off",
    "no-throw-literal": "off"
  }
}